# Configuración mínima recomendada para @eemc78/apidian
# Asegura que el paquete scoped se publique de forma pública
access=public

# Obliga a usar versiones exactas en package.json (mejor práctica)
save-exact=true

# (Removido provenance=true porque requiere GitHub Actions)

# (Opcional) Forzar el uso del registro principal de NPM
registry=https://registry.npmjs.org/
